<div class = "container">
    <video width = "50%"
           height = "350"
           style = "float: left"
           controls>
        <source src = "/partials/media/vid1.mp4"
                type = "video/mp4">
        Your browser does not support the video tag.
    </video>
    <video width = "50%"
           height = "350"
           style = "float: left"
           controls>
        <source src = "/partials/media/vid2.mp4"
                type = "video/mp4">
        Your browser does not support the video tag.
    </video>
</div>