.viewcar a
{
    color : #fff !important;

}
.viewcar
{
    background: #ea0000;
    color: #fff !important;
    width: 100%;
    height: 35px;
    padding: 10px 0;
    text-align: center;
    font-size: 1.1rem;
    margin: 7px 0 0;
    display: block;
}