<section ng-controller = "showroom as vm">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>ADV Cars Pre-Owned</h1>
            <p>A falsis, itineris tramitem bi-color tabes. Varius, mirabilis devatios rare promissio de bi-color, rusticus nomen. Lumen de gratis rumor, promissio cacula! Talis, azureus abnobas patienter
                tractare de neuter, dexter danista. cum lura tolerare, omnes xiphiases acquirere raptus, pius impositioes.
            </p>
        </div>
        <div class = "col-sm-3 nopadleft">
            <div class = "filters">
                <form>
                    <div class = "form-group">
                        <select class = "form-control"
                                name = "sort"
                                id = "sort"
                                ng-model = "sortBy"
                                ng-init = "sortBy = options[3].value">
                            <option ng-repeat = "options in options"
                                    value = "{{options.value}}">{{options.label}}
                            </option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <select ng-model = "selectMake"
                                class = "form-control"
                                ng-change = "changedMake();stateSet()"
                                ng-options = "car.make for car in vm.makeData | unique:'make' | orderBy: 'make'">
                            <option value = "">Make</option>
                        </select>
                    </div>
                    <div class = "form-group"
                         ng-show = "selectMake">
                        <select ng-model = "selectSeries"
                                class = "form-control"
                                ng-options = "car.series for car in vm.seriesData | unique:'series' | orderBy: 'series' "
                                ng-change = "changedSeries();stateSet()">
                            <option value = "">Series</option>
                        </select>
                    </div>
                    <div class = "marginspace nopad"
                         style = "margin: 5px 0">
                        <div class = "formgroup"
                             style = "padding:5px 0; display:table; width:100%; text-align: center">
                            <label class = "pricelabel col-xs-6 nopad">
                                <div class = "priceinput">
                                    <input type = "radio"
                                           name = "pricesearch"
                                           ng-value = "0"
                                           ng-change = "priceValue(pricesearch)"
                                           ng-model = "pricesearch"/>
                                </div>
                                Selling Price
                            </label>
                            <label class = "pricelabel col-xs-6 nopad">
                                <div class = "priceinput">
                                    <input type = "radio"
                                           name = "pricesearch"
                                           ng-value = "1"
                                           ng-change = "priceValue(pricesearch)"
                                           ng-model = "pricesearch"/>
                                </div>
                                Monthly Premium
                            </label>
                        </div>
                    </div>
                    <div ng-show = "pricesearch == 1"
                         class = "row"
                         style = "margin-bottom: 8px">
                        <div class = "formgroup col-md-6 nopadleft">
                            <select ng-model = "selectedMinPrime"
                                    class = "form-control"
                                    ng-init = "selectedMinPrime = selectedMinPrime[0]"
                                    ng-change = "stateSet()">
                                <option value = ""
                                        selected = "selected">
                                    Min Monthly
                                </option>
                                <option ng-repeat = " n in [] | range:20:0:1000"
                                        value = "{{n}}">
                                    {{n | currency:'R':0}}
                                </option>
                            </select>
                        </div>
                        <div class = "formgroup col-md-6 nopadright">
                            <select ng-model = "selectedMaxPrime"
                                    class = "form-control"
                                    ng-init = "selectedMaxPrime = selectedMaxPrime[0]"
                                    ng-change = "stateSet()">
                                <option value = ""
                                        selected = "selected">Max Monthly
                                </option>
                                <option ng-repeat = " n in [] | range:20:0:1000"
                                        value = "{{n}}">
                                    {{n | currency:'R':0}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div ng-show = "pricesearch  == 0"
                         class = "row"
                         style = "margin-bottom: 8px">
                        <div class = "formgroup col-sm-6 nopadleft"
                             style = "padding-right: 4px">
                            <select ng-model = "selectedMinPrice"
                                    class = "form-control"
                                    ng-init = "selectedMinPrice = selectedMinPrice[0]"
                                    ng-change = "stateSet()">
                                <option value = ""
                                        selected = "selected">Min Price
                                </option>
                                <option ng-repeat = " n in [] | range:76:0:20000"
                                        value = "{{n}}">
                                    {{n | currency:'R':0}}
                                </option>
                            </select>
                        </div>
                        <div class = "formgroup col-sm-6 nopadright">
                            <select ng-model = "selectedMaxPrice"
                                    class = "form-control"
                                    ng-init = "selectedMaxPrice = selectedMaxPrice[0]"
                                    ng-change = "stateSet()">
                                <option value = ""
                                        selected = "selected">Max Price
                                </option>
                                <option ng-repeat = " n in []  | range:76:0:20000"
                                        value = "{{n}}">
                                    {{n | currency:'R':0}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-6 nopadleft">
                            <div class = "form-group">
                                <select ng-model = "selectMinMile"
                                        class = "form-control"
                                        ng-change = "changedMinMile();stateSet()">
                                    <option value = ""
                                            selected = "selected">Min Mile
                                    </option>
                                    <option ng-repeat = " n in [] | range:21:0:10000 "
                                            value = "{{n}}"> {{n | number}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class = "col-sm-6 nopadright">
                            <div class = "form-group">
                                <select ng-model = "selectMaxMile"
                                        class = "form-control"
                                        ng-change = "changedMaxMile();stateSet()">
                                    <option value = ""
                                            selected = "selected">Max Mile
                                    </option>
                                    <option ng-repeat = " n in [] | range:21:0:10000 "
                                            value = "{{n}}"> {{n | number}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class = "form-group">
                        <select ng-model = "selectYear"
                                class = "form-control"
                                 ng-options = "car.year for car in vm.yearData | unique:'year' | orderBy: 'year'"
                                ng-change = "changedYear();stateSet()">
                            <option value = "">Year</option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <select ng-model = "selectColour"
                                class = "form-control"
                                 ng-options = "car.colour for car in vm.colourData | unique:'colour' | orderBy: 'colour'"
                                ng-change = "changedColour();stateSet()">
                            <option value = "">Colour</option>
                        </select>
                    </div>
                    <div class = "form-group">
                        <select ng-model = "selectBody"
                                class = "form-control"
                                 ng-options = "car.body_type for car in vm.bodyData | removeWith:{body_type:''} | unique:'body_type' | orderBy: 'body_type'"
                                ng-change = "changedBody();stateSet()">
                            <option value = "">Body Type</option>
                        </select>
                    </div>
                    <div class = "">
                        <button class = "btn btn-primary"
                                ng-click = "clearFilter()"
                                ng-model = "filterClear">RESET FILTERS
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class = "col-sm-9 nopad">
            <div class = "row">
                <div class = " paging">
                    <dir-pagination-controls max-size = "6"
                                             on-page-change = "scrollToTop()"
                                             direction-links = "true"
                                             boundary-links = "true"></dir-pagination-controls>
                </div>
            </div>
            <div class = "row showroom_container">
                <div class = "col-sm-4 showroom_box"
                     dir-paginate = "car in vm.data
                 | orderBy: sortBy
                 | itemsPerPage: perPage">
                    <div class = "showroom_img">
                        <a ui-sref = "cardetails({'stock_id':car.stock_id,'mmcode':car.mmcode,'make':car.make,'series':car.series,'year':car.year,'selling_price':car.selling_price})">
                            <img ng-src = "{{car.url1}}"
                                 src = "../../img/nopic.png"
                                 onerror = "this.onerror=null;this.src='../../img/nopic_view.png';">
                        </a>
                    </div>
                    <div>
                        <h2 class = "carmake">{{car.make}}
                            <span>{{car.variant}}</span>
                        </h2>
                    </div>
                    <div class = "showroom_details">
                        <ul>
                            <li><strong>Mileage:</strong> {{car.mileage | number}}Km</li>
                            <li><strong>Year:</strong> {{car.year}}</li>
                            <li><strong>Colour:</strong>
                                <span style = "text-transform: capitalize">{{car.colour}}</span>
                            </li>
                            <li><strong>Condition:</strong> {{car.condition}}</li>
                        </ul>
                    </div>
                    <div class = "showroom_price"
                         ng-if = "pricesearch == 0">{{car.selling_price | currency:"R":0}}
                    </div>
                    <div class = "showroom_price"
                         ng-if = "pricesearch == 1">
                        {{car.premium | currency: "R":0}}
                        <span class = "pm">pm
                        </span>
                        <span id = "noticetrigger"
                              ng-click = "toggleFilter(car)"
                              class = "notice">?
                        </span>
                    </div>
                    <div id = "noticetext"
                         ng-show = "car.toggle"
                         class = "noticetext  animated flipInX">
                        <strong>PLEASE NOTE:</strong> The calculation displayed assumes, 10% deposit, 72 months finance term at an interest rate of prime +3%. Fees charged by your finance provider's are not
                        included in these calculations. ADV Cars accepts no responsibility for any misunderstanding related to the estimated amount provided on this website. You are strongly advised to submit
                        a full finance application to get a real sense of YOUR actual monthly amounts. You may be pleasantly surprised with the results.
                        <div class = "box"></div>
                    </div>
                </div>
            </div>
            <div class = "row">
                <div class = " paging">
                    <dir-pagination-controls max-size = "6"
                                             on-page-change = "scrollToTop()"
                                             direction-links = "true"
                                             boundary-links = "true"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>
<update-title title = "ADV Cars | New and Used Cars for Sale"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | New and Used Cars for Sale"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>