<section ng-controller = "tradeInController as vm">
    <div class = "container trade">

        <form name = "tradeInForm"
              id = "tradeInForm"
              novalidate
              angular-validator
              flow-init = "{target: '/img', testChunks:false}"
              flow-name = "vm.flow"
              flow-files-submitted = "$flow.upload()"
              flow-file-success = "$file.msg = $message">
            <h3 class = "lessmargin">Vehicle Information</h3>
            <div class = "row">
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "make"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.make.$error.required">*
                        </span>
                    </label>
                    <select ng-options = "car.make as car.make for car in vm.makeData | unique:'make' | orderBy: 'make'"
                            class = "form-control"
                            id = "make"
                            name = "make"
                            required
                            ng-model = "vm.details.selectedMake"
                            ng-change = "selectChangedMake()">
                        <option value = "">Make</option>
                    </select>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "reeksnaam"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.reeksnaam.$error.required">*
                        </span>
                    </label>
                    <select ng-options = "car.model as car.model for car in vm.modelData | unique:'model' | orderBy: 'model' "
                            class = "form-control"
                            required
                            id = "reeksnaam"
                            name = "reeksnaam"
                            ng-disabled = "!vm.details.selectedMake"
                            ng-model = "vm.details.selectedSeries"
                            ng-change = "selectChangedSeries()">
                        <option value = "">Model</option>
                    </select>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "variasie"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.variasie.$error.required">*
                        </span>
                    </label>
                    <select ng-options = "car.variant as car.variant  for car in vm.variantData | unique:'variant' | orderBy: 'variant' "
                            class = "form-control"
                            id = "variasie"
                            name = "variasie"
                            ng-disabled = "!vm.details.selectedSeries"
                            ng-model = "vm.details.selectedVariant"
                            ng-change = "selectChangedVariant()">
                        <option value = "">Variant</option>
                    </select>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "year"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.year.$error.required">*
                        </span>
                    </label>
                    <input type = "number"
                           required
                           id = "year"
                           name = "year"
                           ng-minlength = "4"
                           data-ng-model = "vm.details.year"
                           data-ng-maxlength = "4"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 4 numbers..'"
                           required-message = "'This field is required..'"
                           placeholder = "Manufacture Year"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "mileage"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.mileage.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           required
                           id = "mileage"
                           name = "mileage"
                           data-ng-model = "vm.details.mileage"
                           data-ng-maxlength = "20"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 4 numbers..'"
                           required-message = "'This field is required..'"
                           placeholder = "Vehicle Mileage"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "price"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.price.$error.required">*
                        </span>
                    </label>
                    <input type = "number"
                           required
                           id = "price"
                           name = "price"
                           data-ng-model = "vm.details.price"
                           data-ng-maxlength = "20"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 4 numbers..'"
                           required-message = "'This field is required..'"
                           placeholder = "Asking Price"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "colour"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.colour.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           required
                           id = "colour"
                           name = "colour"
                           data-ng-model = "vm.details.colour"
                           data-ng-maxlength = "20"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 4 letters..'"
                           required-message = "'This field is required..'"
                           placeholder = "Colour"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "region"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.region.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           required
                           id = "region"
                           name = "region"
                           data-ng-model = "vm.details.region"
                           data-ng-maxlength = "20"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 4 letters..'"
                           required-message = "'This field is required..'"
                           placeholder = "Region"/>
                </div>
            </div>
            <h3>Contact Information</h3>
            <div class = "row">
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "name"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.name.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           required
                           id = "name"
                           name = "name"
                           data-ng-model = "vm.details.name"
                           ng-minlength = "3"
                           class = "form-control"
                           placeholder = "First Name"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 3 letters..'"
                           required-message = "'This field is required..'"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "surname"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.surname.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           required
                           id = "surname"
                           name = "surname"
                           data-ng-model = "vm.details.surname"
                           ng-minlength = "3"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 3 letters..'"
                           required-message = "'This field is required..'"
                           placeholder = "Last Name"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "number"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.number.$error.required">*
                        </span>
                    </label>
                    <input type = "tel"
                           required
                           id = "number"
                           name = "number"
                           data-ng-model = "vm.details.number"
                           ng-minlength = "10"
                           class = "form-control"
                           validate-on = "dirty"
                           invalid-message = "'You need at least 10 numbers..'"
                           required-message = "'This field is required..'"
                           placeholder = "Contact Number"/>
                </div>
                <div class = "fb-text form-group field-name col-md-6">
                    <label for = "email"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "tradeInForm.email.$error.required">*
                        </span>
                    </label>
                    <input type = "email"
                           required
                           id = "email"
                           name = "email"
                           data-ng-model = "vm.details.email"
                           validate-on = "dirty"
                           required-message = "'Please enter a valid email..'"
                           class = "form-control"
                           placeholder = "Email Address"/>
                </div>
            </div>
            <h3>Vehicle Description</h3>
            <div class = "row">
                <div class = "col-xs-12 fb-text form-group field-name">
                    <textarea id = "comments"
                              class = "form-control"
                              data-ng-model = "vm.details.comment"
                              placeholder = "Description of vehicle"></textarea>
                </div>
            </div>
            <div class = "row">
                <h3>Upload Images (max 10 MiB)
                </h3>
                <div class = "dropletcontainer">
                    <div flow-drag-enter = "style={border: '1px solid green'}"
                         flow-drag-leave = "style={}"
                         flow-drop
                         ng-style = "style"
                         class = "droplet"></div>
                </div>
                <div class = "col-sm-2 label label-info">
                    Total Size: {{vm.totalFileSize($flow) || '0'}} bytes
                </div>
                <div class = "col-xs-12 nopad"
                     style = "margin-top: 15px">
                    <span class = "btn btn-success"
                          flow-btn>Upload Image File
                    </span>
                    <span class = "btn  btn-success"
                          flow-btn
                          flow-directory
                          ng-show = "$flow.supportDirectory">
                        Upload directory of images
                    </span>
                </div>
            </div>
            <div class = "row">
                <h3 ng-show = "$flow.files.length">Your Images</h3>
                <div id = "image-files"
                     ng-repeat = "file in $flow.files"
                     class = "col-sm-2 nopadleft">
                    <span class = "title ng-binding">{{file.name}}</span>
                    <div class = "thumbnail"
                         ng-show = "$flow.files.length">
                        <img flow-img = "file"
                             alt = "{{file.name}}"/>
                        <a class = "btn btn-xs btn-danger rounded"
                           style = "color: #fff !important; margin-top: 2px; width: 100%"
                           ng-click = "file.cancel()">
                            Remove
                        </a>
                    </div>
                    <div class = "progress progress-striped"
                         ng-class = "{active: file.isUploading()}">
                        <div style = "width: 100%;"
                             class = "progress-bar"
                             role = "progressbar"
                             aria-valuenow = "100"
                             aria-valuemin = "0"
                             aria-valuemax = "100"
                             ng-style = "{width: (file.progress() * 100) + '%'}">
                            <span class = "sr-only ng-binding">1% Completed</span>
                        </div>
                    </div>
                    <div>{{file.size}} bytes</div>
                </div>
                <div class = "clear"></div>
            </div>
            <div class = "row"
                 style = "margin-top: 10px">
                <button class = "btn btn-primary"
                        id = "submit1"
                        data-ng-disabled = "tradeInForm.$invalid"
                        data-ng-click = "vm.sendEmail()">
                    SUBMIT
                </button>
            </div>
        </form>
        <span id = "spinner">
            <i class = "fa fa-spinner fa-spin"
               aria-hidden = "true"></i>
            Upload in progess
        </span>
    </div>
</section>
<update-title title = "ADV Cars | Sell Car"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | Sell Car"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>