<section ng-controller = "bookPart as vm"
         class = "service">
    <div class = "container">
        <div class = "row showroom_header">
            <h1>Your Hyundai is only as strong as its weakest part</h1>
        </div>
        <div class = "row">
            <form id = "partForm"
                  name = "partForm"
                  style = "width: 100%"
                  novalidate
                  angular-validator>
                <div class = "row">
                    <p>That's why Genuine Hyundai Parts are designed with every other part of your vehicle in mind to ensure that your vehicle runs as smoothly and efficiently as it did the day you drove it off
                        the show room floor. Genuine Hyundai Parts are stringently tested and manufactured to the highest quality standards ensuring that your vehicle benefits from years of design and
                        manufacturing expertise. By only using Genuine Hyundai Parts you will ensure your vehicle works at its optimal level.
                    </p>
                    <h3>Vehicle Details</h3>
                    <div class = "fb-text form-group field-name col-sm-6">
                        <label for = "make"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.make.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.part.make"
                               required
                               placeholder = "Make"
                               class = "form-control"
                               name = "make"
                               id = "make"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-6">
                        <label for = "vin"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.vin.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.part.vin"
                               required
                               placeholder = "Vin Number (Placed in Windscreen Corner)"
                               class = "form-control"
                               name = "vin"
                               id = "vin"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                </div>
                <div class = "row">
                    <h3>Peronal Details</h3>
                    <div class = "fb-text form-group field-name col-sm-3">
                        <label for = "fName"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.fName.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.part.fName"
                               required
                               placeholder = "First Name"
                               class = "form-control"
                               name = "fName"
                               id = "fName"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-3">
                        <label for = "lName"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.lName.$error.required">*
                            </span>
                        </label>
                        <input type = "text"
                               data-ng-model = "vm.part.lName"
                               required
                               placeholder = "Surname"
                               class = "form-control"
                               name = "lName"
                               id = "lName"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-3">
                        <label for = "mobile"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.mobile.$error.required">*
                            </span>
                        </label>
                        <input type = "tel"
                               data-ng-model = "vm.part.mobile"
                               required
                               placeholder = "Cellphone"
                               class = "form-control"
                               name = "mobile"
                               id = "mobile"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-3">
                        <label for = "email"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.email.$error.required">*
                            </span>
                        </label>
                        <input type = "email"
                               data-ng-model = "vm.part.email"
                               required
                               placeholder = "Email"
                               class = "form-control"
                               name = "email"
                               id = "email"
                               validate-on = "blur"
                               required-message = "'This field is required..'">
                    </div>
                    <div class = "fb-text form-group field-name col-sm-12">
                        <label for = "message"
                               class = "fb-text-label">
                            <span class = "required"
                                  ng-if = "partForm.message.$error.required">*
                            </span>
                        </label>
                        <textarea data-ng-model = "vm.part.message"
                                  required
                                  placeholder = "I would like a Hyundai consultant to contact me to quote me on the following parts I require for my vehicle"
                                  class = "form-control"
                                  name = "message"
                                  id = "message"
                                  validate-on = "blur"
                                  required-message = "'This field is required..'"></textarea>
                    </div>
                </div>
                <div class = "fb-button form-group field-submit col-xs-12"
                     style = "text-align: center">
                    <button type = "button"
                            data-ng-click = "vm.sendMail()"
                            data-ng-disabled = "partForm.$invalid"
                            class = "button-input btn btn-primary"
                            name = "submit"
                            style = "margin-top: 30px"
                            id = "submit">Submit
                    </button>
                </div>
            </form>
            <span id = "mailsent">Your part request has been submitted.</span>
            <span id = "mailnotsent">Your request has NOT been sent</span>
            <span id = "spinner">
                <i class = "fa fa-circle-o-notch fa-spin"
                   aria-hidden = "true"></i>
                Your request is being processed
            </span>
        </div>
    </div>
</section>
<update-title title = "ADV Cars | Parts"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | Parts"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>