.about_container h2
{
    font-size : 1.8rem !important;
}
.about_container h3
{
    font-size      : 1.6rem !important;
    text-transform : uppercase;
    margin         : 0;
    font-weight    : 600;
}
.video
{
    background : #000;
}