<section class = "about_container">
    <div class = "container">
        <h1>Valuations</h1>
        <p> We offer free vehicle valuation service to all. Our bakkie and car valuation service is available to fleet companies (large or small), corporate enterprises and individuals. To make use of our
            online vehicle valuation service, click on
            <a href = "http://webuybakkies.co.za/">Webuybakkies</a>
            and complete the vehicle valuation section, alternatively contact us on 060 911 2233 for more information and advice.
        </p>
        <p>Our daily interaction with retailers, wholesalers, fleet owners, rental companies, financial institutions and corprate business provide us with the inside knowledge of the latest market, price,
            consumer and industry trends to effectively base our vehicle valuations criteria on.
        </p>
        <p>At ADV Cars our valuation criteria was designed not only using the motor industry's standard vehicle valuation methods to determine the value of a vehicle. To achive the most reliable market value,
            we believe that the principals of supply and demand as well as market conditions should also be incorporated into the process
        </p>
        <p>Our valuations are therefore very accurate and market related. The valuations that we provide is based on the information supplied by you. The client must ensure to provide honest and accurate
            information.
        </p>
        <p>Buying, selling, replacing, swoping or trading any vehicle is and always have been one of the most unpredictable challenges you will have to deal with</p>
        <p>For more information and advice on vehicle valuation contact us on 060 911 2233</p>
    </div>
</section>
<update-title title = "ADV Cars | Valuations"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | Valuations"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>