.pawn_container h2
{
    font-size : 1.8rem !important;
    color     : #ea0000;
}
.pawn_container h3
{
    font-size      : 1.6rem !important;
    text-transform : uppercase;
    margin         : 0;
    font-weight    : 600;
}
.pawnright_ul
{
    line-height   : 2.5rem;
    background    : #ea0000;
    padding       : 10px;
    margin-top    : 5px;
    color         : white;
    font-size     : 1.5rem;
    border-radius : 9px;
}
.pawnright_ul li i
{
    color        : #000;
    font-size    : 1.2rem;
    margin-right : 5px;
}