<section class = "pawn_container">
    <div class = "container">
        <div class = "col-sm-9">
            <h1>HOW IT WORKS - THE PROCESS</h1>
            <h3>APPLY FOR CASH</h3>
            <p>Phone, SMS or Whatsapp us on 060 911 2233 during office hours or complete and submit the online application and one or our appraisers will provide you with a quick estimate of the cash amount
                that you qualify for
            </p>
            <h3>ASSET VALUATION</h3>
            <p>We will ask you to bring your asset to our offices for an inspection. The valuation will be done in a couple of minutes to determine the cash amount you qualify for. We can offer cash to you for
                up to 70% of the assets value.
            </p>
            <h3>CASH APPROVAL AND PAYMENT</h3>
            <p>The cash amount will be determined after the vehicle valuation was done. Should you be in agreement with the final assessment and our terms and conditions, the cash amount will be electronically
                transferred into your bank account. You will have immediate access to the funds.
            </p>
            <h3>SETTLEMENT / REPAYMENT</h3>
            <p>Once the storage fee is paid back, the asset will be returned to you immediately. We are also prepared to make you a market related cash offer should you wish to sell the asset
            </p>
            <div class = "row pawnform"
                 ng-controller = "pawnCar as vm">
                <h2>CASH FROM R50 000 TO R1000 000</h2>
                <h3 style = "font-size: 1.3rem !important;    margin-bottom: 15px;">If you can tick the following you may qualify for cash</h3>
                <form id = "pawnForm"
                      name = "pawnForm"
                      novalidate
                      angular-validator>
                    <div class = "form-group">
                        <label for = "own">
                            <input type = "checkbox"
                                   data-ng-model = "vm.details.own"
                                   ng-change = "ownChange()"
                                   name = "own"
                                   id = "own">
                            Do you own your vehicle / asset outright
                        </label>
                    </div>
                    <div class = "form-group">
                        <label for = "certificate">
                            <input type = "checkbox"
                                   data-ng-model = "vm.details.certificate"
                                   ng-change = "certificateChange()"
                                   name = "certificate"
                                   id = "certificate">
                            Are you in possession of the original vehicle registration certificate
                        </label>
                    </div>
                    <div class = "form-group">
                        <label for = "debt">
                            <input type = "checkbox"
                                   data-ng-model = "vm.details.debt"
                                   ng-change = "debtChange()"
                                   name = "debt"
                                   id = "debt">
                            Is your vehicle / asset fully paid and free from any debt
                        </label>
                    </div>
                    <div class = "form-group">
                        <label for = "registered">
                            <input type = "checkbox"
                                   data-ng-model = "vm.details.registered"
                                   ng-change = "registeredChange()"
                                   name = "registered"
                                   id = "registered">
                            Is the vehicle / asset registered in your name
                        </label>
                    </div>
                    <div>
                        <div class = "fb-text form-group field-name col-sm-6">
                            <label for = "name"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "pawnForm.name.$error.required">*
                                </span>
                            </label>
                            <input type = "text"
                                   data-ng-model = "vm.details.name"
                                   required
                                   placeholder = "Your Full Name"
                                   class = "form-control"
                                   name = "name"
                                   id = "name"
                                   ng-minlength = "3"
                                   validate-on = "blur"
                                   invalid-message = "'You need at least 3 letters..'"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-text form-group field-number col-sm-6">
                            <label for = "number"
                                   class = "fb-text-label">
                                <span class = "required"
                                      ng-if = "pawnForm.number.$error.required">*
                                </span>
                            </label>
                            <input type = "number"
                                   data-ng-model = "vm.details.number"
                                   required
                                   placeholder = "Contact Number"
                                   class = "form-control"
                                   name = "number"
                                   id = "number"
                                   ng-minlength = "10"
                                   validate-on = "blur"
                                   invalid-message = "'You need at least 10 numbers...'"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-email form-group field-email col-sm-6">
                            <label for = "email"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "pawnForm.email.$error.required">*
                                </span>
                            </label>
                            <input type = "email"
                                   data-ng-model = "vm.details.email"
                                   required
                                   placeholder = "Email"
                                   class = "form-control"
                                   name = "email"
                                   id = "email"
                                   validate-on = "dirty"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-email form-group field-email col-sm-6">
                            <label for = "amount"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "pawnForm.amount.$error.required">*
                                </span>
                            </label>
                            <input type = "number"
                                   data-ng-model = "vm.details.amount"
                                   required
                                   placeholder = "Loan amount"
                                   class = "form-control"
                                   name = "amount"
                                   id = "amount"
                                   validate-on = "dirty"
                                   required-message = "'This field is required..'">
                        </div>
                        <div class = "fb-email form-group field-email col-sm-6">
                            <label for = "make"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "pawnForm.make.$error.required">*
                                </span>
                            </label>
                            <input type = "text"
                                   data-ng-model = "vm.details.make"
                                   required
                                   placeholder = "Make"
                                   class = "form-control"
                                   name = "make"
                                   id = "make">
                        </div>
                        <div class = "fb-email form-group field-email col-sm-6">
                            <label for = "year"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "pawnForm.year.$error.required">*
                                </span>
                            </label>
                            <input type = "text"
                                   data-ng-model = "vm.details.year"
                                   required
                                   placeholder = "Year"
                                   class = "form-control"
                                   name = "year"
                                   id = "year">
                        </div>
                        <div class = "fb-email form-group field-email col-sm-6">
                            <label for = "km"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "pawnForm.km.$error.required">*
                                </span>
                            </label>
                            <input type = "text"
                                   data-ng-model = "vm.details.km"
                                   required
                                   placeholder = "Kilometers"
                                   class = "form-control"
                                   name = "km"
                                   id = "km">
                        </div>
                        <div class = "form-group col-sm-12">
                            <label for = "accident">
                                <input type = "checkbox"
                                       ng-model = "vm.details.accident"
                                       ng-change = "accidentChange()"
                                       name = "accident"
                                       id = "accident">
                                Has the vehcile been in an accident
                            </label>
                        </div>
                        <div class = " form-group col-sm-12"
                             ng-show = "vm.details.accident">
                            <label for = "accident_report"
                                   class = "fb-email-label">
                                <span class = "required"
                                      ng-if = "pawnForm.accident_report.$error.required">*
                                </span>
                            </label>
                            <textarea type = "textarea"
                                      data-ng-model = "vm.details.accident_report"
                                      placeholder = "Accident Report"
                                      class = "form-control"
                                      name = "accident_report"
                                      style = "height: 50px"
                                      id = "accident_report"></textarea>
                        </div>
                        <div class = "form-group col-sm-12">
                            <label for = "paid">
                                <input type = "checkbox"
                                       data-ng-model = "vm.details.paid"
                                       ng-change = "paidChange()"
                                       name = "paid"
                                       id = "paid">
                                Is the vehicle / asset fully paid for
                            </label>
                        </div>
                        <div class = "fb-undefined form-group field-message col-sm-12">
                            <label for = "message"
                                   class = "fb-textarea-label"></label>
                            <textarea type = "textarea"
                                      data-ng-model = "vm.details.message"
                                      placeholder = "Comments"
                                      class = "form-control"
                                      name = "message"
                                      style = "height: 90px"
                                      id = "message"></textarea>
                        </div>
                        <div class = "fb-button form-group field-submit col-xs-12"
                             style = "text-align: center">
                            <button type = "button"
                                    data-ng-click = "vm.sendMail()"
                                    data-ng-disabled = "pawnForm.$invalid"
                                    class = "button-input btn btn-primary"
                                    name = "submit"
                                    style = "margin-top: 30px"
                                    id = "submit">Submit
                            </button>
                        </div>
                    </div>
                </form>
                <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
                <span id = "mailnotsent">Your request has NOT been sent</span>
                <span id = "spinner">
                    <i class = "fa fa-circle-o-notch fa-spin"
                       aria-hidden = "true"></i>
                    Your request is being processed
                </span>
            </div>
        </div>
        <div class = "col-sm-3">
            <h2>Need cash againt your asset?</h2>
            <h3>QUICK FACTS</h3>
            <ul class = "pawnright_ul">
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    No credit checks
                </li>
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    Blacklisted clients welcome
                </li>
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    No hidden costs
                </li>
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    100% Approvals
                </li>
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    Quick payouts
                </li>
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    0% Interest
                </li>
                <li>
                    <i class = "fa fa-angle-double-right"
                       aria-hidden = "true"></i>
                    Simple • Fast • Reliable
                </li>
            </ul>
        </div>
    </div>
</section>
<update-title title = "ADV Cars | Pawn Assets"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | Pawn Assets"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>