<div class = "row"
     ng-controller = "Footer">
    <div class = "container"
         style = "margin-bottom: 15px">
        <div class = "col-sm-4">
            <img src = "../img/logo.svg"
                 class = "footerlogo">
            <p>
                Ubi est festus resistentia? Fluctuss experimentum! Cum abactus favere, omnes adgiumes captis clemens, germanus victrixes. Cum lumen crescere, omnes vortexes fallere magnum, placidus agripetaes.
            </p>
        </div>
        <div class = "col-sm-4">
            <h3>Contact Us</h3>
            <ul>
                <li><strong>{{store.name}}</strong></li>
                <li>{{store.address1}}</li>
                <li>
                    Tel:
                    <a href = "tel:{{store.tel1}}">{{store.tel1}}</a>
                </li>
                <li>
                    <a href = "mailto:{{store.eMail.contactEmail}}">{{store.eMail.contactEmail}}</a>
                </li>
            </ul>
        </div>
        <div class = "col-sm-4">
            <h3>Trading Hours</h3>
            <ul>
                <li> Monday - Friday : {{store.tradinghours.monFri}}</li>
                <li> Saturday : {{store.tradinghours.sat}}</li>
                <li> Sunday : {{store.tradinghours.sun}}</li>
                <li> Public Holidays : {{store.tradinghours.pub}}</li>
            </ul>
        </div>
    </div>
</div>
<div class = "row ">
    <div class = "container ">
        <div class = "credit">&copy; 2018 All rights reserved | Powered by
            <a href = "http://www.vmgsoftware.co.za/"
               target = "_blank">VMG Webmaster
            </a>
            | 087 702 6300
        </div>
    </div>
</div>