<nav class = "navbar navbar-expand-lg navbar-light bg-dark">
    <div class = "container">
        <button class = "navbar-toggler"
                type = "button"
                data-toggle = "collapse"
                data-target = "#navbarSupportedContent"
                aria-controls = "navbarSupportedContent"
                aria-expanded = "false"
                aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
        </button>
        <a class = "navbar-brand"
           ui-sref = "home">
            <img src = "../img/logo.svg">
        </a>
        <div class = "collapse navbar-collapse"
             id = "navbarSupportedContent">
            <ul class = "navbar-nav justify-content-end">
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "home">Home
                        <span class = "sr-only">(current)</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "vehicles">Buy
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "sell">Sell
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "about">About
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "team">Team
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link"
                       ui-sref-active = "active"
                       ui-sref = "contact">Contact
                    </a>
                </li>
                <li class = "nav-item icontop">
                    <a href = "#"
                       style = "padding-top: 8px !important;"
                       class = "nav-link">
                        <i class = "fab fa-whatsapp"></i>
                    </a>
                </li>
                <li class = "nav-item">
                    <a href = "tel:{{store.tel1}}"
                       style = "padding-top: 8px !important;"
                       class = "nav-link">
                        <i class = "fas fa-phone"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>