.topsocial
{
    margin-top    : 8px;
    margin-bottom : 5px;
}
.topsocial i
{
    font-size : 2.5rem;
    margin    : 0 2px;
}
.topaddress ul
{
    margin      : 0 !important;
    line-height : 1.5rem;
}
.top_colour
{
    background : #232528;
    padding    : 15px 0;
    color      : #fff;
}
.bg-dark
{
    background-color : #222 !important;
}
.icontop
{
    position : relative;
}
.icontop:after
{
    content: "";
    position: absolute;
    border-right: 1px dashed #888888;
    height: 20px;
    top: 9px;
    right: 0;
}