<section ng-controller = "slider">
    <div class = "row">
        <flex-slider flex-slide = "s in slides track by $index"
                     animation-loop = "true"
                     direction-nav = "true"
                     randomize = "true"
                     prev-text = ""
                     next-text = ""
                     control-nav = "false"
                     style = "background: #000">
            <li>
                <div class = "sliderone_text">
                    <div class = "slidetext_one">{{s.text1}}
                        <span>{{s.text1a}}</span>
                    </div>
                    <div class = "slidetext_two">{{s.text2}}</div>
                    <div class = "slidetext_three">{{s.text3}}</div>
                    <div class = "slidetext_four">{{s.text4}}</div>
                </div>
                <img ng-src = "{{s.url}}"
                     style = "filter:grayscale(1); opacity: 0.3;">
            </li>
        </flex-slider>
    </div>
</section>