.finaincebloks h3
{
    font-size : 1.7rem;
    margin    : 0 0 15px;
}
.fBlock
{
    position      : relative;
    padding       : 15px;
    text-align    : center;
    background    : #e5e5e5;
    margin-bottom : 15px;
}
#tabs
{
}
#tabs h6.section-title
{
    color : #eee;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
    color            : #f3f3f3;
    background-color : transparent;
    border-color     : transparent transparent #f3f3f3;
    border-bottom    : 1px solid !important;
    font-size        : 1.5rem;
    font-weight      : bold;
}
#tabs .nav-tabs .nav-link
{
    border                  : 1px solid transparent;
    border-top-left-radius  : .25rem;
    border-top-right-radius : .25rem;
    color                   : #eee;
    font-size               : 20px;
}
.financecontainer ul
{
    padding-right : 15px;
}
.financecontainer li
{
    list-style : url("/img/check-square-o.png");

}
.icon
{
    display      : inline-block;
    width        : 1em;
    height       : 1em;
    stroke-width : 0;
    stroke       : currentColor;
    fill         : currentColor;
}
.icon-check-square-o
{
    width : 0.9324999999999999em;
}
.financecontainer h2.name
{
    font-size : 1.7rem;
}
.fa-ul
{
    padding-left    : 0;
    margin-left     : 1.342857em !important;
    list-style-type : none;
}
.indented
{
    margin-left : 20px;
}
.finance_calculator .form-control
{

    height  : 27px !important;
    padding : 6px 16px;
}
.finance_calculator label
{
    font-weight : bold !important;
}
input.form-control[readonly]
{
    -webkit-box-shadow : none;
    box-shadow         : none;
    border-bottom      : none;
    font-size          : 2rem !important;
    color              : #ea0000;
    font-weight        : 600;
}