<section>
    <div class = "container">
        <div class = "row showroom_header">
            <h1 style = "text-align: center">ADV Cars Finance</h1>
            <h2 style = "font-size: 1.5rem; text-align: center; width: 100%"> ADV Cars has friendly trained personnel that will always handle the needs of our customers with integrity and their requests as a
                priority.
            </h2>
        </div>
        <div class = "finaincebloks"
             id = "tabs">
            <nav>
                <div class = "nav nav-tabs nav-fill"
                     id = "nav-tab"
                     role = "tablist">
                    <a class = "nav-item nav-link active"
                       id = "nav-home-tab"
                       data-toggle = "tab"
                       href = "#nav-finance"
                       role = "tab"
                       aria-controls = "nav-home"
                       aria-selected = "true">Documents
                    </a>
                    <a class = "nav-item nav-link"
                       id = "nav-profile-tab"
                       data-toggle = "tab"
                       href = "#nav-calculator"
                       role = "tab"
                       aria-controls = "nav-profile"
                       aria-selected = "false">Finance Calculator
                    </a>
                </div>
            </nav>
            <div class = "tab-content py-3 px-3 px-sm-0"
                 id = "nav-tabContent">
                <div class = "tab-pane fade  show active"
                     id = "nav-finance"
                     role = "tabpanel"
                     aria-labelledby = "nav-home-tab">
                    <div class = "row">
                        <div class = "col-md-4 col-xs-12 nopad">
                            <p class = "buttspace"
                               style = "text-align:center;">
                                <a class = "buttonz"
                                   href = "https://eazyfin.co.za/Home/FinanceClient?companyId=557"
                                   target = "_blank">Finance Application (Submit Online)
                                </a>
                            </p>
                        </div>
                        <div class = "col-md-4 col-xs-12 nopad">
                            <p class = "buttspace"
                               style = "text-align: center;">
                                <a class = "buttonz"
                                   href = "/downloads/individual.pdf"
                                   target = "_blank">Finance Application (Printable Version)
                                </a>
                            </p>
                        </div>
                        <div class = "col-md-4 col-xs-12 nopad">
                            <p class = "buttspace"
                               style = "text-align: center;">
                                <a class = "buttonz"
                                   href = "/downloads/juristic.pdf"
                                   target = "_blank">Juristic Application (Printable Version)
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class = "row">
                        <p><strong>List of documents to submit:</strong></p>
                        <div class = "col-md-4 financecontainer  ">
                            <h2 class = "name">PRIVATE INDIVIDUAL:</h2>
                            <ul>
                                <li>
                                    Completed
                                    <a target = "_blank"
                                       href = "https://eazyfin.co.za/Home/FinanceClient?companyId=557">Finance Application Form
                                    </a>
                                    .
                                </li>
                                <li>ID Document Copy.</li>
                                <li>Drivers licence Copy.</li>
                                <li>3-Months Payslips OR
                                    <ul class = "indented">
                                        <li>If self-employed – 6 Months Bank Statements.</li>
                                        <li>If not employed for 3 months yet – Signed Permanent Employment Contract.</li>
                                    </ul>
                                </li>
                                <li>Proof of address (Utility bill/Lease Agreement), marriage certificate.</li>
                            </ul>
                        </div>
                        <div class = "col-md-4 financecontainer  ">
                            <h2 class = "name">COMPANY :</h2>
                            <ul>
                                <li>Completed
                                    <a href = "/downloads/juristic.pdf"
                                       target = "_blank">Juristic Finance Application Form
                                    </a>
                                    completed for the company.
                                </li>
                                <li>Completed
                                    <a href = "https://eazyfin.co.za/Home/FinanceClient?companyId=557"
                                       target = "_blank">Finance Application Form
                                    </a>
                                    for each member of the company.
                                </li>
                                <li>CK1 Document.</li>
                                <li>ID Document Copy for each member of the company.</li>
                                <li>Driver's licence copy of company proxy or the nominated member as main driver of the vehicle, as per insurance confirmation.
                                </li>
                                <li>Proof of address of the company (Water and Lights Account, Electricity/Lease Agreement).</li>
                                <li>6-Months Bank Statements.</li>
                                <li>Latest Financial Statements.</li>
                            </ul>
                        </div>
                        <div class = "col-md-4 financecontainer  ">
                            <h2 class = "name">TRUST / NPO's:</h2>
                            <ul>
                                <li>Completed
                                    <a href = "/downloads/juristic.pdf"
                                       target = "_blank">Juristic Finance Application Form
                                    </a>
                                    for the Trust/NPO.
                                </li>
                                <li>Completed
                                    <a href = "https://eazyfin.co.za/Home/FinanceClient?companyId=557"
                                       target = "_blank">Finance Application Form
                                    </a>
                                    for each Trustee/member.
                                </li>
                                <li>Trust Deed/NPO registration copy.</li>
                                <li>ID Document Copy for each trustee/member.</li>
                                <li>Driver's licence copy of each Trustee/member, or the trustee who will be the nominated main driver of the vehicle, as per insurance confirmation.
                                </li>
                                <li>Proof of address of the Trust/NPO. (Water and Lights Account/Lease Agreement)</li>
                                <li>6-Months Bank Statements.</li>
                                <li>Latest Financial Statements.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class = "tab-pane fade"
                     id = "nav-calculator"
                     role = "tabpanel"
                     aria-labelledby = "nav-profile-tab">
                    <div>
                        <section id = "finance_calculator_view"
                                 ng-controller = "financeCalculator as vm"
                                 class = "finance_calculator">
                            <div class = "container">
                                <form name = "calculatorForm"
                                      class = "ng-pristine ng-valid ng-valid-min ng-valid-required ng-valid-max">
                                    <div class = "form-group col-sm-3">
                                        <label for = "typeOfBuyer">Are you purchasing as:</label>
                                        <select id = "typeOfBuyer"
                                                data-ng-model = "vm.calculator.buyerType"
                                                data-ng-options = "type.text for type in vm.calculator.typesOfBuyer"
                                                data-ng-change = "vm.checkBuyerType();vm.calculate();"
                                                class = "form-control">
                                            <option value = "0"
                                                    label = "an individual">an individual
                                            </option>
                                            <option value = "1"
                                                    selected = "selected"
                                                    label = "a car allowance buyer">a car allowance buyer
                                            </option>
                                            <option value = "2"
                                                    label = "a company">a company
                                            </option>
                                        </select>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label for = "price">Vehicle Price:</label>
                                        <input id = "price"
                                               name = "price"
                                               type = "number"
                                               step = "any"
                                               data-ng-model = "vm.calculator.vehiclePrice"
                                               data-ng-change = "vm.calculate()"
                                               placeholder="R"
                                               required = ""
                                               min = "0"
                                               class = "form-control">
                                        <span class = "error ng-hide"
                                              data-ng-show = "calculatorForm.price.$dirty &amp;&amp; calculatorForm.price.$invalid">
                                            <br>
                                            <small class = "error ng-hide"
                                                   data-ng-show = "calculatorForm.price.$error.required">Vehicle Price must be a number.
                                            </small>
                                            <small class = "error ng-hide"
                                                   data-ng-show = "calculatorForm.price.$error.min">The price is too low.
                                            </small>
                                        </span>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label for = "deposit">Deposit:</label>
                                        <input id = "deposit"
                                               name = "deposit"
                                               type = "number"
                                               step = "any"
                                               data-ng-model = "vm.calculator.deposit"
                                               data-ng-change = "vm.calculate()"
                                               placeholder="R"
                                               required = ""
                                               min = "0"
                                               class = "form-control">
                                        <span class = "error ng-hide"
                                              data-ng-show = "calculatorForm.deposit.$dirty &amp;&amp; calculatorForm.deposit.$invalid">
                                            <br>
                                            <small class = "error ng-hide"
                                                   data-ng-show = "calculatorForm.deposit.$error.required">Deposit must be a number.
                                            </small>
                                            <small class = "error ng-hide"
                                                   data-ng-show = "calculatorForm.deposit.$error.min">The deposit is too low.
                                            </small>
                                        </span>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label for = "tradeIn">Trade In:</label>
                                        <input id = "tradeIn"
                                               name = "tradeIn"
                                               type = "number"
                                               step = "any"
                                               data-ng-model = "vm.calculator.tradeIn"
                                               data-ng-change = "vm.calculate()"
                                               placeholder="R"
                                               required = ""
                                               min = "0"
                                               class = "form-control">
                                        <span class = "error ng-hide"
                                              data-ng-show = "calculatorForm.tradeIn.$dirty &amp;&amp; calculatorForm.tradeIn.$invalid">
                                            <br>
                                            <small class = "error ng-hide"
                                                   data-ng-show = "calculatorForm.tradeIn.$error.required">Trade In must be a number.
                                            </small>
                                            <small class = "error ng-hide"
                                                   data-ng-show = "calculatorForm.tradeIn.$error.min">The trade in is too low.
                                            </small>
                                        </span>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label for = "interestRate">Interest Rate (%):</label>
                                        <select id = "interestRate"
                                                class = "form-control"
                                                data-ng-model = "vm.calculator.interestRate"
                                                data-ng-options = "type for type in vm.calculator.interestRates"
                                                data-ng-change = "vm.calculate()"></select>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label class = "residual">Residual (Either Percentage or Value):</label>
                                        <div class = "col-sm-6">
                                            <input id = "residualPercent"
                                                   name = "residualPercent"
                                                   type = "number"
                                                   step = "any"
                                                   placeholder = "%"
                                                   data-ng-model = "vm.calculator.residualPercent"
                                                   data-ng-change = "vm.calculate('percent');"
                                                   min = "0"
                                                   max = "100"
                                                   required = ""
                                                   class = "form-control">
                                            <span class = "error ng-hide"
                                                  data-ng-show = "calculatorForm.residualPercent.$dirty &amp;&amp; calculatorForm.residualPercent.$invalid">
                                                <br>
                                                <small class = "error ng-hide"
                                                       data-ng-show = "calculatorForm.residualPercent.$error.required">Residual percent must be a number.
                                                </small>
                                                <small class = "error ng-hide"
                                                       data-ng-show = "calculatorForm.residualPercent.$error.min">The residual percent in is too low.
                                                </small>
                                                <small class = "error ng-hide"
                                                       data-ng-show = "calculatorForm.residualPercent.$error.max">The residual percent in is too high.
                                                </small>
                                            </span>
                                        </div>
                                        <div class = "col-sm-6">
                                            <input type = "number"
                                                   step = "any"
                                                   name = "residualCash"
                                                   placeholder = "or R"
                                                   data-ng-model = "vm.calculator.residualCash"
                                                   data-ng-change = "vm.calculate('cash');"
                                                   min = "0"
                                                   required = ""
                                                   class = "form-control">
                                            <span class = "error ng-hide"
                                                  data-ng-show = "calculatorForm.residualCash.$dirty &amp;&amp; calculatorForm.residualCash.$invalid">
                                                <br>
                                                <small class = "error ng-hide"
                                                       data-ng-show = "calculatorForm.residualCash.$error.required">Residual cash must be a number.
                                                </small>
                                                <small class = "error ng-hide"
                                                       data-ng-show = "calculatorForm.residualCash.$error.min">The residual cash in is too low.
                                                </small>
                                                <small class = "error ng-hide"
                                                       data-ng-show = "calculatorForm.residualCash.$error.max">The residual cash in is too high.
                                                </small>
                                            </span>
                                        </div>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label for = "repaymentPeriod">Repayment Period (months):</label>
                                        <select id = "repaymentPeriod"
                                                data-ng-model = "vm.calculator.repaymentPeriod"
                                                data-ng-options = "period for period in vm.calculator.repaymentPeriods"
                                                data-ng-change = "vm.calculate()"
                                                class = "form-control">
                                            <option value = "0"
                                                    label = "6">6
                                            </option>
                                            <option value = "1"
                                                    label = "12">12
                                            </option>
                                            <option value = "2"
                                                    label = "24">24
                                            </option>
                                            <option value = "3"
                                                    label = "36">36
                                            </option>
                                            <option value = "4"
                                                    label = "42">42
                                            </option>
                                            <option value = "5"
                                                    selected = "selected"
                                                    label = "48">48
                                            </option>
                                            <option value = "6"
                                                    label = "54">54
                                            </option>
                                            <option value = "7"
                                                    label = "60">60
                                            </option>
                                            <option value = "8"
                                                    label = "72">72
                                            </option>
                                        </select>
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label class = "result"
                                               for = "totalLoanAmount">Total Loan Amount
                                        </label>
                                        <input id = "totalLoanAmount"
                                               type = "number"
                                               step = "any"
                                               placeholder="R0.00"
                                               data-ng-model = "vm.calculator.totalLoanAmount"
                                               readonly = ""
                                               class = "form-control">
                                    </div>
                                    <div class = "form-group col-sm-3">
                                        <label class = "result"
                                               for = "totalMonthlyInstallment">Total Monthly Installment
                                        </label>
                                        <input id = "totalMonthlyInstallment"
                                               type = "number"
                                               step = "any"
                                               placeholder="R0.00"
                                               data-ng-model = "vm.calculator.totalMonthlyInstallment"
                                               readonly = ""
                                               class = "form-control">
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<update-title title = "ADV Cars | Finance"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | Finance"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>