<section class = "contact_contrainer"
         ng-controller = "contactUs as vm">
    <div class = "container">
        <h1>Contact Us</h1>
        <div>
            <h4 style = "font-size: 1.8rem;">For enquiries, guidance, advice or more information kindly contact us.
            </h4>
        </div>
        <div class = "col-sm-3 nopadleft">
            <h2>Contact Details</h2>
            <ul>
                <li>{{store.address1}}</li>
                <li>
                    <a href = "tel:{{store.tel1}}">{{store.tel1}}</a>
                </li>
                <li>
                    <a href = "mailto:{{store.eMail.contactEmail}}">{{store.eMail.contactEmail}}</a>
                </li>
            </ul>
            <h2>Trading Hours</h2>
            <ul>
                <li> Monday - Friday : {{store.tradinghours.monFri}}</li>
                <li> Saturday : {{store.tradinghours.sat}}</li>
                <li> Sunday : {{store.tradinghours.sun}}</li>
                <li> Public Holidays : {{store.tradinghours.pub}}</li>
            </ul>
        </div>
        <div class = "col-sm-9">
            <form id = "contactForm"
                  name = "contactForm"
                  novalidate
                  angular-validator>
                <div class = "fb-text form-group field-name col-sm-6">
                    <label for = "name"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "contactForm.name.$error.required">*
                        </span>
                    </label>
                    <input type = "text"
                           data-ng-model = "vm.details.name"
                           required
                           placeholder = "Your Full Name"
                           class = "form-control"
                           name = "name"
                           id = "name"
                           ng-minlength = "3"
                           validate-on = "blur"
                           invalid-message = "'You need at least 3 letters..'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-text form-group field-number col-sm-6">
                    <label for = "number"
                           class = "fb-text-label">
                        <span class = "required"
                              ng-if = "contactForm.number.$error.required">*
                        </span>
                    </label>
                    <input type = "number"
                           data-ng-model = "vm.details.number"
                           required
                           placeholder = "Contact Number"
                           class = "form-control"
                           name = "number"
                           id = "number"
                           ng-minlength = "10"
                           validate-on = "blur"
                           invalid-message = "'You need at least 10 numbers...'"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-email form-group field-email col-sm-12">
                    <label for = "email"
                           class = "fb-email-label">
                        <span class = "required"
                              ng-if = "contactForm.email.$error.required">*
                        </span>
                    </label>
                    <input type = "email"
                           data-ng-model = "vm.details.email"
                           required
                           placeholder = "Email"
                           class = "form-control"
                           name = "email"
                           id = "email"
                           validate-on = "dirty"
                           required-message = "'This field is required..'">
                </div>
                <div class = "fb-undefined form-group field-message col-sm-12">
                    <label for = "message"
                           class = "fb-textarea-label"></label>
                    <textarea type = "textarea"
                              data-ng-model = "vm.details.message"
                              placeholder = "Message"
                              class = "form-control"
                              name = "message"
                              style = "height: 90px"
                              id = "message"></textarea>
                </div>
                <div class = "fb-button form-group field-submit col-xs-12"
                     style = "text-align: center">
                    <button type = "button"
                            data-ng-click = "vm.sendMail()"
                            data-ng-disabled = "contactForm.$invalid"
                            class = "button-input btn btn-primary"
                            name = "submit"
                            style = "margin-top: 30px"
                            id = "submit">Submit
                    </button>
                </div>
            </form>
        </div>
        <span id = "mailsent">Thank you for contacting us. We will get back to you as soon as possible!</span>
        <span id = "mailnotsent">Your request has NOT been sent</span>
        <span id = "spinner">
            <i class = "fa fa-circle-o-notch fa-spin"
               aria-hidden = "true"></i>
            Your request is being processed
        </span>
    </div>
    <div class = "row">
        <iframe src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.4288599362712!2d32.035761315084926!3d-28.736609982376812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1efa3d2a80ca05f3%3A0x7d5cde7d672fa8f0!2s128+Alumina+Allee+St%2C+Alton%2C+Richards+Bay!5e0!3m2!1sen!2sza!4v1542622477379"
                width = "100%"
                height = "450"
                frameborder = "0"
                style = "border:0"
                allowfullscreen></iframe>
    </div>
</section>
<update-title title = "ADV Cars | Contact"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | Contact"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>