.homewhitebox
{
    background : #fff;
    padding    : 10px;
}
.btn-carhome:hover
{
    background : #a09e9e;
    transition : 0.7s all;
    color      : #fff !important;
}
.btn-carhome
{
    width      : 100%;
    background : #222222;
    font-size  : 1.2rem !important;
    color      : #fff!important;
    padding: 8px 5px !important;
}
.instructions img
{
    box-shadow : 0px -14px 50px -24px #000;
    position   : relative;
    background : #232528;
}
.instructions
{
    width      : 100%;
    background : #efefef;
    margin     : 25px 0 0;
    padding    : 30px 0 25px;
    color      : #757575;
}
.instructions h3
{
    font-size   : 1.6rem;
    margin      : 10px 0 5px;
    font-weight : 600;
}
.contact_block .required
{
    font-size : 1.3rem;
    top       : 6px;
}
.contact_block
{
    position : relative;
}
.contact_block .form-control
{
    height      : 25px;
    padding     : 6px 16px;
    font-size   : 13px;
    line-height : 1rem;
}
.details-car ul
{
    margin-bottom : 0;
}
.details-car strong
{
    color       : #ea0000;
    font-weight : 200;
}
.details-car
{
    margin-top : 10px;
    color      : #333;
}
.cta
{
    text-align      : center;
    justify-content : center;
    padding         : 15px 0;
}
.cta a
{
    background : #ea0000;
    padding    : 10px 15px;
    color      : #fff !important;

}