<div ui-view = "homeslider"
     class = "mobilehide"></div>
<div class = "row"
     ng-controller = "showroom as vm">
    <div class = "container">
        <div class = "row">
            <h1>ADV Cars Pre-Owned</h1>
            <p>Cum compater unda, omnes nutrixes carpseris emeritis, rusticus caculaes. Vae, fortis buxum! Medicinas peregrinatione! Adiurator, abnoba, et nixus. Manducare sed mire ducunt ad albus rector.
                Azureus victrix virtualiter demittos mens est. primus, talis equisos acceleratrix transferre de magnum, azureus triticum. piscinam Cur bubo mori? Heu, emeritis zeta! Velox zeta rare falleres
                demolitione est.
            </p>
        </div>
        <div class = "row showroom_container"
             style = "background: #ccc; padding:15px 0 0; margin: 20px 0 0;">
            <div class = "row"
                 style = "width: 100%">
                <h3>Recent Listings</h3>
            </div>
            <div class = "row">
                <div class = "col-sm-3 showroom_box"
                     dir-paginate = "car in vm.data
                 | searchField: 'make': 'variant'
                 | filter: selectText
                 | itemsPerPage: 8">
                    <div class = "homewhitebox">
                        <div class = "showroom_img">
                            <a href = ""
                               ng-click = "focus(car); focusInput=true">
                                <img ng-src = "{{car.url1}}"
                                     src = "../../img/nopic.png"
                                     onerror = "this.onerror=null;this.src='../../img/nopic_view.png';">
                            </a>
                        </div>
                        <div>
                            <h2 class = "home_carmake">{{car.make}}
                                <span>{{car.variant}}</span>
                            </h2>
                        </div>
                        <div class = "home_price">{{car.selling_price | currency:"R":0}}</div>
                        <div class = "details-car">
                            <ul>
                                <li><strong>Year:</strong> {{car.year}}</li>
                                <li><strong>Mileage: </strong>{{car.mileage}}</li>
                                <li><strong>Colour: </strong>{{car.colour}}</li>
                                <li><strong>Condition: </strong>{{car.condition}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class = "row">
                        <a class = "btn btn-carhome"
                           href = ""
                           ng-click = "focus(car); focusInput=true">ENQUIRE
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "cta">
            <a ui-sref = "vehicles">GO TO FULL SHOWROOM</a>
        </div>
    </div>
    <update-title title = "ADV Cars | New and Used Cars for Sale"></update-title>
    <update-meta property = "og:title"
                 content = "ADV Cars | New and Used Cars for Sale"></update-meta>
    <update-meta property = "og:description"
                 content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
    <update-meta itemprop = "description"
                 content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
</div>
<update-title title = "ADV Cars | New and Used Cars for Sale"></update-title>
<update-meta property = "og:title"
             content = "ADV Cars | New and Used Cars for Sale"></update-meta>
<update-meta property = "og:description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>
<update-meta itemprop = "description"
             content = "ADV Cars offer the best deals on used cars for sale in South Africa. Buy or sell cars online today."></update-meta>